it 'has a date and time' do
    expect(@appointment.appointment_datetime.strftime('%B %d, %Y')).to eq('December 25, 2016')
  end

  it 'belongs to a patient' do
    expect(@appointment.doctor).to be(@mcdreamy)
  end

  it 'belongs to a doctor' do
    expect(@appointment.patient).to be(@patient)
  end
  
<h1> <%=@appointment.appointment_datetime.strftime('%B %d, %Y')%></h1>